:root {
    --athens-gray: #eeeeef;
    --rose-white: #fffefe;
    --royal-blue: #4239f7;
    --kingfisher-daisy: #280199;
    --havelock-blue: #52a7da;
    --torch-red: #fe013d;
    --monza: #ca0111;
    --mandy: #e4425e;
    --jade: #01cc67;
    --teal: #008e7c;
    --shamrock: #53de8e;
    --red1: #ff0200;
    --red2: #ec0101;
    --apache: #ddb969;
    --fuscous-gray: #ebebdd;
    --cod-gray: #0f0e0e;
    --gunsmoke: #8a8b8b;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--athens-gray);
}

.shoes {
    width: 440px;
    height: 470px;

    display: flex;

    box-shadow: -15px 0 35px rgb(0 0 0 / 10%), 0 -15px 35px rgb(0 0 0 / 10%), 0 15px 35px rgb(0 0 0 / 10%);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.shoe-content {
    min-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    justify-content: space-between;
}

.images__logo {
    width: 100px;
    height: 40px;
    margin: 20px;
}

.share {
    margin: 20px;
    padding: 18px 20px 18px 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--rose-white);
    z-index: 1;
}

.share__icon {
    width: 22px;
    height: 22px;
    font-size: 1.2rem;

    color: var(--royal-blue);
}

.shoe-content__name {
    margin-top: 0px;
    margin-left: 20px;

    opacity: 20%;
    color: #fff;
    font-size: 176px;
    font-weight: bold;
}

.shoe-content__image {
    position: absolute;
    width: 45%;
    height: 60%;
    margin-top: 70px;
    left: 60px;

    transform: rotate(340deg);
}

.info {
    width: 420px;
    height: 550px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--rose-white);
    box-shadow: -15px 0 35px rgb(0 0 0 / 10%), 0 -15px 35px rgb(0 0 0 / 10%), 0 15px 35px rgb(0 0 0 / 10%);
}

.description-content {
    width: 90%;
    height: 95%;
}

.header {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title__name {
    font-size: 2rem;
    font-weight: bold;
}

.title__button {
    height: 30px;
    margin-left: 10px;
    padding: 0 10px 0 10px;

    font-size: 1.1rem;
    border: none;
    border-radius: 10%;
    color: var(--rose-white);
}

.header__subtitle {
    font-size: 1.2rem;
}

.product-info {
    margin-top: 10px;
}

.product-info__title {
    font-size: 1.3rem;
    font-weight: 600;
}

.product-info__description {
    font-size: 1.1rem;
}

.color__name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 500px;
}

.buttons__colors {
    width: 25px;
    height: 25px;
    margin: 0 10px 0 10px;
    padding: 10px;

    border: none;
    border-radius: 50%;
}

.text-blue {
    color: var(--royal-blue);
}

.background-blue {
    background-color: var(--royal-blue);
}

.linear-blue {
    background: linear-gradient(to right top, var(--kingfisher-daisy), var(--havelock-blue));
}

.text-red {
    color: var(--torch-red);
}

.background-red {
    background-color: var(--torch-red);
}

.linear-red {
    background: linear-gradient(to right top, var(--monza), var(--mandy));
}

.text-green {
    color: var(--jade);
}

.background-green {
    background-color: var(--jade);
}

.linear-green {
    background: linear-gradient(to right top, var(--teal), var(--shamrock));
}

.text-orange {
    color: var(--red1);
}

.background-orange {
    background-color: var(--red1);
}

.linear-orange {
    background: linear-gradient(to right top, var(--red2), var(--apache));
}

.text-black {
    color: var(--fuscous-gray);
}

.background-black {
    background-color: var(--fuscous-gray);
}

.linear-black {
    background: linear-gradient(to right top, var(--cod-gray), var(--gunsmoke));
}

.color {
    margin-bottom: 15px;
}

.size {
    margin-bottom: 15px;
}

.size__name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 500px;
}

.buttons__size {
    margin: 10px 10px 0 10px;
    padding: 8px 15px 8px 15px;

    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 10%;
}

.footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer__button {
    padding: 10px 15px 10px 15px;

    display: flex;
    align-items: center;

    border: none;
    border-radius: 2%;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--rose-white);
}

.footer__image {
    width: 20px;
    height: 20px;
}

.cart {
    margin-right: 5px;
}

.footer__price {
    font-size: 2rem;
    font-weight: 600;
}

.price {
    margin-bottom: 10px;
    margin-right: -10px;
}

.overlap {
    z-index: 1;
}

hr {
    margin: 10px 0 10px 0;
}